<!-- wp:template-part {"slug":"header","tagName":"header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","className":"post-content"} -->
<main class="wp-block-group post-content"><!-- wp:group {"className":"entry-content wp-block-post-content","layout":{"inherit":true}} -->
    <div class="wp-block-group entry-content wp-block-post-content">

        <!-- wp:pattern {"slug":"bergify/hero"} /-->
        <!-- wp:pattern {"slug":"bergify/figures"} /-->
        <!-- wp:pattern {"slug":"bergify/services"} /-->
        <!-- wp:pattern {"slug":"bergify/features-1"} /-->
        <!-- wp:pattern {"slug":"bergify/features-2"} /-->
        <!-- wp:pattern {"slug":"bergify/customers"} /-->
        <!-- wp:pattern {"slug":"bergify/pricing"} /-->
        <!-- wp:pattern {"slug":"bergify/faq"} /-->
        <!-- wp:pattern {"slug":"bergify/feature"} /-->
           
    </div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","layout":{"inherit":true}} /-->
